[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
	m = mergetool
[merge]
	tool = vimdiff
	conflictstyle = diff3
[user]
	email = QuintenBons@outlook.com
	name = Quinten Bons
	signingKey = ""
[init]
	defaultBranch = master
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
